<mat-card>
  <mat-card-header>
    <mat-card-title class="intro__header__title">{{ 'example.title' | content }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="info-text">{{ 'example.text' | content }}</div>
    <app-question-groupschoice [question]="question" [form]="group"> </app-question-groupschoice>
  </mat-card-content>
  <mat-card-actions>
    <button
      color="accent"
      mat-raised-button
      routerLink="/{{ path }}/sporsmal/1"
      aria-label="Start testen"
    >
      {{ 'actions.start' | content }}
    </button>
  </mat-card-actions>
</mat-card>
