@import 'variables';

:host {
  width: 300px;
  display: inline-block;

  .value {
    display: block;
    text-align: right;
    color: $grey-dark;
    font-size: $font-size-regular;
  }

  .bar {
    width: 100%;
    display: inline-block;
    height: 12px;
    border: 1px solid $grey;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    .progress {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      background-color: $aqua-light;
      border-radius: 5px;
    }
  }
}
