trigger:
  - master

variables:
  uiWorkDir: "ANGULAR SOURCE/kn"
  uiSource: "ANGULAR SOURCE/kn/src"
  uiBuild: "ANGULAR SOURCE/kn/dist/digitaltesten"

pool:
  vmImage: "ubuntu-latest"

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: "12.x"
    displayName: "Install Node.js"

  - script: |
      npm install -g @angular/cli
      npm install
      ng build --configuration=production-digitaltesten
    workingDirectory: "$(uiWorkDir)"
    displayName: "npm install and build"
  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: "$(uiBuild)"
      includeRootFolder: false
      archiveType: "zip"
      archiveFile: "$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip"
      replaceExistingArchive: true
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: "$(Build.ArtifactStagingDirectory)"
      ArtifactName: "drop"
      publishLocation: "Container"
