<app-card>
  <div app-card-label>
    <app-label imgUrl="assets/images/ribbon-puzzle.svg" text="{{ 'intro.label' | content }}"></app-label>
  </div>

  <div app-card-content>
    <div class="content">
      <h2 [innerHTML]="'intro.title' | content"></h2>

      <div class="info">
        <p [innerHTML]="'intro.text' | content"></p>
        <img src="assets/images/{{ 'intro.image' | content}}" alt="Intro image"/>
      </div>
    </div>
  </div>

  <footer app-card-footer>
    <app-screen-reader></app-screen-reader>
    <div class="actions">
      <button routerLink="../sporsmal/1" app-button app-color="accent" class="start">
        {{ 'actions.start' | content }}
      </button>
    </div>
  </footer>
</app-card>
