<mat-card-footer class="container">
  <app-logo></app-logo>

  <ul class="contacts">
    <li>
      <a href="https://www.kompetansenorge.no" target="_blank">www.kompetansenorge.no</a>
    </li>
    <li>
      <a href="mailto:webmaster@kompetansenorge.no">webmaster@kompetansenorge.no</a>
    </li>
  </ul>

  <div class="eu-logo">
    <img src="assets/images/european-union.svg" alt="European union logo">
    Co-founded by the Erasmus+ Programme of the European Union
  </div>
</mat-card-footer>
