<div class="content" [class.no-media]="!question?.image && !question?.video">
  <div class="content-inner">
    <h2 *ngIf="question?.title as title" class="title">{{ title }}</h2>
    <audio *ngIf="question?.audio as audioUrl" controls src="assets/audios/{{ audioUrl }}"></audio>
    <p *ngIf="question?.info as info" [innerHTML]="info?.text"></p>
    <h1 *ngIf="question?.text as text" [innerHTML]="text" class="text"></h1>
    <div *ngIf="!question?.video && question?.image as imageUrl" class="image">
      <img [src]="'assets/images/' + imageUrl" alt="{{ question?.text }}" />
    </div>

    <div *ngIf="!question?.image && question?.video as video" class="video">
      <video
        [src]="'assets/videos/' + video.url"
        [autoplay]="video.autoplay"
        [controls]="video.controls"
        [loop]="video.loop"
      ></video>
    </div>
    <div [formGroup]="form" *ngIf="question">
      <mat-slider
        class="question-slider"
        [max]="question.options.ceil"
        [min]="question.options.floor"
        [step]="getStepInterval()"
        [thumbLabel]="thumbLabel"
        [tickInterval]="getSliderTickInterval()"
        role="slider"
        [formControl]="control"
        [value]="question.answer.value"
        (valueChange)="onUserChange($event)"
      ></mat-slider>
      <mat-form-field appearance="fill">
        <mat-label
          >Verdi mellom {{ question.options.floor }} og {{ question.options.ceil }}</mat-label
        >
        <input
          matInput
          type="number"
          [formControl]="control"
          [value]="question.answer.value"
          (change)="onInputChange($event)"
          [max]="question.options.ceil"
          [min]="question.options.floor"
          #input
          maxlength="10"
          placeholder=""
        />
        <mat-error *ngIf="control && control.invalid">Ugyldig verdi</mat-error>
      </mat-form-field>
    </div>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>Kalkulator</mat-panel-title>
          <!-- <mat-panel-description>
            Currently I am {{ panelOpenState ? 'open' : 'closed' }}
          </mat-panel-description> -->
        </mat-expansion-panel-header>
        <app-calculator [visible]="panelOpenState"></app-calculator>
      </mat-expansion-panel>
    </mat-accordion>
    <!--  <button *ngIf="question.calculator" mat-raised-button (click)="toggleCalculator()">
      Åpne Kalkulator
    </button> -->
    <!--  <div></div> -->
  </div>
</div>
