.calculator {
    display: none;
}

.ui-dialog .ui-dialog-content {
    padding: 0;
}

.wrapper-calc *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
.wrapper-calc{
    border-radius: 5px;
    background: rgba(208, 204, 204, 0.7);
    display: inline-block;
    padding:20px;
    width: 366px;
    height: 425px;
}
.wrapper-calc__left{
    display: inline-block;
    vertical-align: top;
}
.wrapper-calc__left:last-child
.wrapper-calc__row:last-child button{
    height: 200px;
}
.wrapper-calc__left:last-child
.wrapper-calc__row:first-child button{
}
.wrapper-calc__row{
    margin:0 0 10px;
}
.wrapper-calc__row:last-child{
    margin: 0;
}
.wrapper-calc__row button{
    width: 26px;
    height: 26px;
    border: none;
    background: #fff;
    cursor: pointer;
}
.wrapper-calc__row button {
    outline: none;
    width:60px;
    height:60px;
    display:inline-block;
    font-family:Arial, "Helvetica", sans-serif;
    font-size:20px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    text-shadow:1px 1px 0px #07526e;
    padding-top:6px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    cursor:pointer;
    border: none;
    background: #109bce;
    background-image: linear-gradient(bottom, rgb(14,137,182) 0%, rgb(22,179,236) 100%);
    border-radius: 5px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
}
.wrapper-calc__row button:active {
    top:3px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999;
}
.wrapper-calc__row button:active:before {
    top: 7px;
    font-size: 50px;
    text-shadow: 0px 3px 0px #07526e, 0px 5px 1px #07526e/*, 3px 0px 1px #07526e, 3px 3px 1px #07526e,
     -2px 0px 1px #68cff2*/;
}
.wrapper-calc__row input[type='text']{
    border: none;
    height: 100px;
    width: 100%;
    text-align: right;
    padding: 0 10px;
    border-radius: 5px;
    font-size:44px;
    background: rgba(255, 255, 255, 0.85);
}