.loading-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.toolbar {
  display: flex;
  height: 91px;
  justify-content: center;
  align-items: center;
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      min-width: 200px; // same as kn
    }
  }
  &__spacer {
    flex: 1 1 auto;
  }
  &__menubutton {
  }
}

.content {
  //border-radius: 2px;
  //background-color: #ffffff;
  // box-shadow: 0 13px 20px 0 rgba(90, 110, 136, 0.08);
  //background-color: cyan;
  flex-grow: 1;
}

.back {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    &__logo {
      max-width: 100%;
      width: 168px;
    }
    &__eu {
      width: 82px;
      &__text {
        max-width: 150px;
        padding-left: 0.5rem;
        margin: auto;
      }
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
