.loading-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  height: 91px;
  &__link {
    img {
      width: 168px; // same as kn
    }
  }
  &__spacer {
    flex: 1 1 auto;
  }
  &__menubutton {
  }
}
