<div class="container">
  <mat-toolbar
    appLayout
    (layoutSize)="switchMode($event)"
    [layoutClass]="breakpointClass"
    role="toolbar"
    class="toolbar"
  >
    <a href="/" class="toolbar__link">
      <img src="assets/images/kn-logo.svg" alt="Kompetanse Norge logo" />
    </a>
    <span class="toolbar__spacer">&nbsp;</span>
    <app-language></app-language>
  </mat-toolbar>

  <div class="back">
    <a mat-flat-button href="/"><mat-icon>arrow_back</mat-icon><span>Til Test deg selv</span></a>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <div class="footer__item">
      <img
        class="footer__item__logo"
        src="assets/images/kn-logo.svg"
        alt="Logo til Kompetanse Norge"
      />
    </div>
    <div class="footer__item footer__links">
      <mat-list>
        <a mat-list-item class="mat-body-strong" href="http://www.kompetansenorge.no"
          >www.kompetansenorge.no</a
        >
        <a mat-list-item class="mat-body-strong" href="mailto:webmaster@kompetansenorge.no">
          webmaster@kompetansenorge.no</a
        >
      </mat-list>
    </div>
    <div class="footer__item">
      <img
        class="footer__item__eu"
        src="assets/images/european-union.svg"
        alt="Logo til Kompetanse Norge"
      />
      <p class="footer__item__eu__text">
        Co-founded by the Erasmus+ Programme of the European Union
      </p>
    </div>
  </footer>
</div>
<div *ngIf="loading" class="loading-container">
  <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
</div>
