<div class="calculatorFrame" *ngIf="visible">
  <div class="display">
    <div class="subdisplay">
      <div>{{ subText }}</div>
    </div>
    <div class="maindisplay">
      <div>{{ mainText }}</div>
    </div>
  </div>
  <div class="keypad">
    <div class="row">
      <div class="keys ackey one-line row-1 top-function-keys">
        <button mat-raised-button (click)="allClear()">AC</button>
      </div>
      <div class="keys opkey one-line row-1 top-function-keys">
        <button mat-raised-button top-function-keys (click)="pressKey('/')">/</button>
      </div>
    </div>
    <div class="row">
      <div class="keys numkey one-line row-4">
        <button mat-raised-button (click)="pressKey('7')">7</button>
      </div>
      <div class="keys numkey one-line row-4">
        <button mat-raised-button (click)="pressKey('8')">8</button>
      </div>
      <div class="keys numkey one-line row-4">
        <button mat-raised-button (click)="pressKey('9')">9</button>
      </div>
      <div class="keys opkey one-line row-4 operator-keys">
        <button mat-raised-button (click)="pressKey('x')">x</button>
      </div>
    </div>
    <div class="row">
      <div class="keys numkey one-line row-4">
        <button mat-raised-button (click)="pressKey('4')">4</button>
      </div>
      <div class="keys numkey one-line row-4">
        <button mat-raised-button (click)="pressKey('5')">5</button>
      </div>
      <div class="keys numkey one-line row-4">
        <button mat-raised-button (click)="pressKey('6')">6</button>
      </div>
      <div class="keys opkey one-line row-4 operator-keys">
        <button mat-raised-button (click)="pressKey('-')">-</button>
      </div>
    </div>
    <div class="row">
      <div class="keys numkey one-line row-4">
        <button mat-raised-button (click)="pressKey('1')">1</button>
      </div>
      <div class="keys numkey one-line row-4">
        <button mat-raised-button (click)="pressKey('2')">2</button>
      </div>
      <div class="keys numkey one-line row-4">
        <button mat-raised-button (click)="pressKey('3')">3</button>
      </div>
      <div class="keys opkey one-line row-4 operator-keys">
        <button mat-raised-button (click)="pressKey('+')">+</button>
      </div>
    </div>
    <div class="row">
      <div class="keys numkey zerokey one-line row-3">
        <button mat-raised-button (click)="pressKey('0')">0</button>
      </div>
      <div class="keys numkey one-line row-3">
        <button mat-raised-button (click)="pressKey('.')">.</button>
      </div>
      <div class="keys equalkey one-line row-3 operator-keys">
        <button mat-raised-button (click)="getAnswer()">=</button>
      </div>
    </div>
  </div>
</div>
