#about{
	display: none;
}

#frontpage-startbtn{
	opacity:0.3;
	cursor: auto;
}

#testintro{
	display: none;
}

.examination .proceed.alt{
	right: 180px;
}

#intro-sound{
	position: absolute;
    bottom: -65px;
}

.intro-sign{
	font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #858585;
}

.intro-text p{
	margin: 0 0 16px;
    font-size: 16px;
    line-height: 25px;
}

.examination .task.intro{
	margin: 0 0 0px;
    border-bottom: none;
}

.examination .task.intro p:last-child {
    margin: 0 0 50px;
}

#intro-bottom{
	margin-bottom: 70px;
	border-top: 1px solid #c8d1db;
}


#test{
	display: none;
}

#questions{
	display: none;
}

#result{
	display: none;
}

#resulttoosoon{
	display: none;
}

span.options{
	/*margin-right: 5px;*/
}
span.options span{
	margin-left: 5px;
}

#throbber{
	display: flex;
	align-items: center;
	justify-content: center;
	
	margin-bottom: -454px; /*+80*/
    z-index: 500;
    position: relative;
    height: 454px;
}


.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #429321;
  }
  50% {
    stroke: #149DC4;
  }
  100% {
    stroke: #DD9415;
  }
}

@keyframes colors {
  0% {
    stroke: #429321;
  }
  50% {
    stroke: #149DC4;
  }
  100% {
    stroke: #DD9415;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
