@import 'variables';

:host {
  display: flex;

  .icon-button {
    padding: 0;
    margin: 0 6px 0 0;
    min-width: 36px;
    min-height: 36px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 100%;
    color: $white;
    background-color: $aqua-light;

    .svg-icon {
      height: 20px;
      width: 20px;
      line-height: 20px;

      &.stop-icon {
        height: 16px;
        width: 16px;
        line-height: 16px;
      }
    }

    &.cdk-focused {
      color: $white;
      background-color: $aqua;
    }

    &:last-child {
      margin: 0;
    }
  }
}
