@import 'variables';
@import 'mixins';

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .controls {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;

    .back {
      @include breakpointFrom($tablet-large) {
        padding: 0;
      }

      .svg-icon {
        margin-right: 10px;
      }
    }
  }

  .content {
    overflow-y: auto;
    width: 100%;
    padding: 20px;
    display: flex;
    flex: 1 1 auto;

    @include breakpoint($tablet-large) {
      padding: 20px 0;
    }
  }
}
