.slider {
  background: #dedede;
  height: 10px;
  position: relative;
  border-radius: 5px;
  margin-top: 30px;
}

.language-links {
  text-align: right;
}

.slider .handle {
  border-radius: 30px;
  height: 50px;
  width: auto;
  min-width: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  /* background:  linear-gradient(to bottom, #b6e026 0%,#abdc28 100%); */
  display: inline-block;
  position: absolute;
  top: -18px;
  text-align: center;
  line-height: 38px;
  cursor: w-resize;
  margin-left: -20px;
}

.slider .handle:hover {
  cursor: grab;
  cursor: -webkit-grab;
}

.slider .handle span {
  background: linear-gradient(to bottom, #b6e026 0%, #abdc28 100%);
  display: block;
  border-radius: 20px;
  height: 40px;
}

.illustration-image {
  text-align: center;
  padding-bottom: 30px;
  max-width: 100%;
}

.illustration-image img {
  max-width: 100%;
}
.illustration-image .image-source {
  font-size: 12px;
}

.no-wrap {
  white-space: nowrap;
}

.question-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid #c8d1db;
}

@media (max-width: 500px) {
  .question-wrapper {
    flex-direction: column;
  }
}

.question-navigation,
.question-navigation-result {
  display: none;
}

.question-wrapper .mark {
  width: 8%;
  text-align: center;
  font-size: 24px;
}

.question-wrapper .question {
  padding-right: 10px;
  position: relative;
  width: 67%;
  text-align: left;
  font-size: 18px;
}

.question-wrapper .question.mark {
  width: 72%;
}

.question-wrapper .answer-wrapper {
  min-width: 200px;
  text-align: right;
  width: 33%;
}

.question-wrapper .answer-wrapper.mark {
  width: 20%;
  font-size: 18px;
}

@media (max-width: 500px) {
  .question-wrapper .question,
  .question-wrapper .question.mark {
    width: 100%;
  }

  .question-wrapper .answer-wrapper {
    width: 100%;
  }
}

#answers .headlines {
  display: flex;
  justify-content: center;
  align-items: center;
}

#answers .headlines .question-headline {
  width: 67%;
  font-size: 18px;
  color: #333;
}

#answers .headlines .answer-headline {
  width: 33%;
  text-align: right;
  font-size: 18px;
  color: #333;
}

.question-wrapper .answer {
  display: inline-block;
  padding: 6px 0;
  border-radius: 5px;
  color: #2274b9;
  top: 12px;
  position: relative;
}

.question-wrapper .correct-answer {
  color: #4d9b25;
}

.question-wrapper .wrong-answer {
  color: #a72a18;
}

.question-wrapper .answer .change {
  margin: 10px 0;
  padding: 3px 10px;
  border: 1px solid #767b81;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  color: #767b81;
  background: #fff;
}

.question-wrapper .qnr {
  position: absolute;
  top: -18px;
  left: 0;
  color: #aaa;
  font-size: 14px;
}

.answers-buttons {
  margin: 20px 0;
}

.back-wrapper {
  width: 100%;
  max-width: 1077px;
  margin: 0 auto;
  padding: 20px 0px;
}

.back-link {
  /* float: none;
  margin-top: 0px;
  font-size: 16px;
  padding-top: 86px;
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  margin-left: -20px;
  width: 240px;
  text-align: right; */
}

/* #kompetanseport-link {
  -ms-transform: scale(0.75, 0.75); 
  -webkit-transform: scale(0.75, 0.75); 
  transform: scale(0.75, 0.75);
} */

.language-links {
  float: right;
  margin-top: 26px;
  font-size: 16px;
  padding-top: 0px;
  -ms-transform: scale(1, 1); /* IE 9 */
  -webkit-transform: scale(1, 1); /* Safari */
  transform: scale(1, 1);
  margin-left: 0px;
  width: 240px;
  text-align: right;
}

.language-links a {
  margin-left: 20px;
}
@media (max-width: 600px) {
  .language-links {
    font-size: 14px;
  }
  .language-links a {
    margin-left: 5px;
  }

  .back-wrapper {
    padding: 20px 10px;
  }
}
