<div class="content" [class.no-media]="!question?.image && !question?.video">
  <div class="content-inner">
    <h2 *ngIf="question?.title as title" class="title">{{ title }}</h2>
    <h3 [formGroup]="control" class="question-text">
      <ng-container *ngIf="question?.text as text" class="text" read>
        <ng-container *ngFor="let snippet of getSplitText(question.text); let ix = index">
          <span *ngIf="isNumeric(snippet)">
            <mat-button-toggle-group [formControlName]="snippet" aria-label="Select an option">
              <mat-button-toggle
                *ngFor="let opt of question.options[snippet]; let i = index"
                [value]="opt.id"
                >{{ opt.text }}</mat-button-toggle
              >
            </mat-button-toggle-group>
          </span>
          <span *ngIf="!isNumeric(snippet)">{{ snippet }}</span>
        </ng-container>
      </ng-container>
    </h3>
  </div>
</div>
