<div class="content" [class.no-media]="!question?.image && !question?.video">
  <div class="content-inner">
    <h2 *ngIf="question?.title as title" class="title">{{ title }}</h2>
    <h3 [formGroup]="control" class="question-text">
      <ng-container *ngIf="question?.text as text" class="text">
        <ng-container *ngFor="let snippet of getSplitText(question.text); let ix = index">
          <span *ngIf="isNumeric(snippet)">
            <mat-radio-group
              [formControlName]="snippet"
              aria-label="Select an option"
              class="groups-choice"
            >
              <mat-radio-button
                class="groups-choice-radio-button"
                *ngFor="let opt of question.options[snippet]; let i = index"
                [value]="opt?.id"
                >{{ opt.text }}</mat-radio-button
              >
            </mat-radio-group>
          </span>
          <span *ngIf="!isNumeric(snippet)">{{ snippet }}</span>
        </ng-container>
      </ng-container>
    </h3>
  </div>
</div>
