body.medium,
body.large,
body.xlarge {
  .toolbar {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .back {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .back {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

body.xsmall {
  .footer {
    flex-direction: column;
  }
}

// Temporary styling of Material. Remove all below when going full Material, ond not just maintaining old css
.groups-choice {
  display: inline-flex;
  justify-content: space-evenly;

  .mat-radio-button {
    margin-left: 0.2rem;
    display: inline-flex;
    border: 2px solid rgb(214, 227, 240);
    border-radius: 23px;
    .mat-radio-label {
      .mat-radio-container {
        display: none;
      }
      .mat-radio-label-content {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    &.mat-radio-checked {
      background-color: #2274b9;
      border: 2px solid #2274b9;
      color: white;
    }
    &:hover {
      border: 2px solid #149dc4;
    }
  }
}

// fix to show thumb label on slider when not focused
.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

// fix to show thumb label on slider when not focused
.mat-slider-thumb {
  transform: scale(0) !important;
}

// fix to show thumb label on slider when not focused
.mat-slider-thumb-label-text {
  opacity: 1 !important;
}
