*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing default not inherited, force inheritance*/
  box-sizing: inherit;
}

body {
  /* All elements under body will inherit this*/
  box-sizing: border-box;
}

a,
div,
button,
svg text {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  background-color: #fff !important;
}
