html,
body {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a,
div,
button,
svg text {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  background-color: #fff !important;
}
