/* COLORS
========================================================================== */
$red-light: #d40135;
$red: #a40128;
$blue: #2274b9;
$aqua: #057c9a;
$aqua-light: #149dc4;
$grey: #e8edf0;
$grey-light: #eee;
$grey-dark: #5a6e88;
$grey-dark-deep: #082a3b;
$white: #fff;
$black: #000;
$green-dark: #4d9b25;
$green: #bbbd1e;
$green-light: #d3d526;

/* FONT PROPERTIES
========================================================================== */
$font-size-xx-large: 30px;
$font-size-x-large: 26px;
$font-size-large: 22px;
$font-size-medium: 18px;
$font-size-x-regular: 16px;
$font-size-regular: 14px;
$font-size-small: 12px;

/* BREAKPOINTS
========================================================================== */
$mobile-small: 240;
$mobile-large: 320;
$tablet-small: 480;
$tablet-large: 768;
$screen-small: 992;
$screen-large: 1200;
