// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);
@include angular-material-typography($custom-typography);
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$self-check-primary: mat-palette($mat-indigo);
$self-check-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$self-check-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$self-check-theme: mat-light-theme(
  (
    color: (
      primary: $self-check-primary,
      accent: $self-check-accent,
      warn: $self-check-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($self-check-theme);

/* You can add global styles to this file, and also import other style files */
/*@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext');
@import '~@angular/cdk/a11y';
@import '~normalize-scss/sass/_normalize.scss';

@include normalize();
@include cdk-a11y();
@import 'variables';
@import 'mixins';
@import 'layout';
@import 'reset';*/

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Temporary styling of Material. Remove all below when going full Material, ond not just maintaining old css
.groups-choice {
  display: inline-flex;
  justify-content: space-evenly;

  .mat-radio-button {
    margin-left: 0.2rem;
    display: inline-flex;
    border: 2px solid rgb(214, 227, 240);
    border-radius: 23px;
    .mat-radio-label {
      .mat-radio-container {
        display: none;
      }
      .mat-radio-label-content {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    &.mat-radio-checked {
      background-color: #2274b9;
      border: 2px solid #2274b9;
      color: white;
    }
    &:hover {
      border: 2px solid #149dc4;
    }
  }
}

.groups-choice-radio {
}
