.header-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  .logo {
    width: 210px;
    img {
      display: block;
      width: 100%;
      max-width: 352px; /*actual image width*/
      min-width: 100px;
      height: auto; /* maintain aspect ratio*/
      margin: auto; /*optional centering of image*/
    }
  }
}

.spacer {
  flex: 1 1 auto;
}
