@import 'variables';
@import 'mixins';
@import '../../styles/question.export';

:host {
  @extend %question-two-columns;

  .image {
    @extend %image;
  }

  .video {
    @extend %video;
  }

  .content {
    @extend %content;
  }

  .text {
    @extend %text;
  }
}

.ranking {
  max-width: 100%;
  min-height: 60px;
}

.item {
  width: 100%;
  cursor: move !important;
  margin-bottom: 10px !important;
  padding-left: 30px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.4;

  @include breakpoint($screen-small) {
    font-size: $font-size-x-regular;
  }

  @include breakpoint($tablet-small) {
    font-size: $font-size-regular;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    height: 65%;
    min-height: 65% !important;
    max-height: 65%;
    border-left: 4px dotted $grey-light;
  }

  &:after {
    left: 17px;
  }
}

.ranking.cdk-drop-list-dragging .item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
